body{
  font-family: sans-serif;
  margin: 0;
  background-color: black;

}
.vid{
    width:100% ;
    max-width: 1200px;
    height: auto;
}
.fold{
    width: 110%;
}


header{
  display: flex;
  padding: 50px ;
  color: #ffffff;
  width:100%;
 
}
a{
    text-decoration: none;
}

h1{
    padding: 20px;
}
.weq{
  background-color:#000000;
  color: 	#FFFFFF;
}
.buy{
    background-image: linear-gradient(45deg, #EA001B, #BA0D97);
    box-shadow:0 0 5px 5px #3A0423;
    display:flex;
    padding: 25px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 20;
    width: 90px;
    border-radius:15px ;
    
}
.buy:hover{
    background-image: linear-gradient(45deg, #FF0F0F, #3F0322);
    border: 2px solid #c67dff;
    color: white;
    
}

.buy:active{
    background-color: #f0f0f0 ;
    border: 2px solid #ffffff;
    color: #333;
}



.buy2{
    background-image: linear-gradient(45deg, #EA001B, #BA0D97);
    box-shadow:0 0 5px 5px #3A0423;
    display:flex;
    padding: 15px;
    flex-wrap: wrap;
    width: 100px;
    border-radius:15px ;
}
.buy2:hover{
    background-image: linear-gradient(45deg, #FF0F0F, #3F0322);
    border: 2px solid #c67dff;
    color: white;
}
.buy:active{
    background-color: #f0f0f0 ;
    border: 2px solid #ffffff;
    color: #333;
}
.s25e{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color:white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.s25{
    width: 35%;
    margin: 15px;
    border-radius: 8px;
    
}
.s25t{
    margin-left:auto ;
    margin-right: 35px;
}
.s25u{
    width: 35%;
    margin: 15px;
    border-radius: 8px;
}
.s25ue{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}body{
  font-family: sans-serif;
  margin: 0;
  background-color: black;

}
.fold{
    width: 110%;
}


header{
  display: flex;
  padding: 50px ;
  color: #ffffff;
  width:100%;
 
}


h1{
    padding: 20px;
}
.weq{
  background-color:#000000;
  color: 	#FFFFFF;
}
.buy{
    background-image: linear-gradient(45deg, #EA001B, #BA0D97);
    box-shadow:0 0 5px 5px #3A0423;
    display:flex;
    padding: 25px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 20;
    width: 90px;
    border-radius:15px ;
    
}
.buy:hover{
    background-image: linear-gradient(45deg, #FF0F0F, #3F0322);
    border: 2px solid #c67dff;
    color: white;
    
}

.buy:active{
    background-color: #f0f0f0 ;
    border: 2px solid #ffffff;
    color: #333;
}



.buy2{
    background-image: linear-gradient(45deg, #EA001B, #BA0D97);
    box-shadow:0 0 5px 5px #3A0423;
    display:flex;
    padding: 15px;
    flex-wrap: wrap;
    width: 100px;
    border-radius:15px ;
}
.buy2:hover{
    background-image: linear-gradient(45deg, #FF0F0F, #3F0322);
    border: 2px solid #c67dff;
    color: white;
}
.buy2:active{
    background-color: #f0f0f0 ;
    border: 2px solid #ffffff;
    color: #333;
}
.s25e{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color:white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.s25{
    width: 35%;
    margin: 15px;
    border-radius: 8px;
    
}


.s25u{
    width: 35%;
    margin: 15px;
    border-radius: 8px;
}
.s25ue{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.s25p{
    width: 35%;
    margin: 15px;
    border-radius: 8px;
}
.s25pe{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color: white;
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.s25fe{
    width: 35%;
    margin: 15px;
    border-radius: 8px;
}
.s25fee{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}
.flip7{
    width: 35%;
    margin: 15px;
    border-radius: 8px;
}
.flip7e{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}
.foot{
    color:white;
    
}
a{
    color:white;
}
.s25u:hover{
    background-image: linear-gradient(45deg, #282828, #3d3d3e);

}
.s25fe:hover{
    background-image: linear-gradient(45deg, #282828, #3d3d3e);

}
.s25:hover{
    background-image: linear-gradient(45deg, #282828,#3d3d3e);

}
.s25p:hover{
    background-image: linear-gradient(45deg, #282828, #3d3d3e);

}
.flip7:hover{
    background-image: linear-gradient(45deg, #282828, #3d3d3e);

}
.s25e:hover{
    background-color: #1b1b1b;
}
.s25ue:hover{
    background-color: #1b1b1b;
}
.s25fee:hover{
    background-color: #1b1b1b;
}
.s25pe:hover{
    background-color: #1b1b1b;
}
.flip7e:hover{
    background-color: #1b1b1b;
}
