body{
  font-family: sans-serif;
  margin: 0;


}
.fold{
    width: 100%;
}


header{
  display: flex;
  
  color: white;
  background-color: black;
    
}
h1{
    padding: 20px;
}
.weq{
  background-color:#000000;
  color: 	#FFFFFF;
}
